# Core dependencies
Django>=5.0,<6.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-environ
python-dotenv
psycopg2-binary

# Django extensions
django-extensions
django-enumfield
django-celery-beat
Pillow

# Async + WebSocket
channels
channels-redis
daphne

# Background tasks
celery
redis

# Auth & API
djoser
firebase_admin

# Utility
asgiref>=3.7.2
sqlparse
