asgiref
Django
django-cors-headers
djoser
djangorestframework
djangorestframework_simplejwt
psycopg2
django-environ
python-dotenv
psycopg2-binary
dj-database-url
whitenoise
supabase

# Django extensions
django-extensions
django-enumfield
django-celery-beat
Pillow

# Async + WebSocket
channels
channels-redis
sqlparse
daphne
django-celery-beat
firebase_admin