asgiref
Django
django-cors-headers
djoser
djangorestframework
djangorestframework_simplejwt
psycopg2
django-environ
python-dotenv
django_extensions
django_enumfield
Pillow
celery
redis
channels
channels-redis
sqlparse
daphne
django-celery-beat
firebase_admin